/*GENERELLE CSS INDSTILLINGER*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #E5E5DB
}

img {
    width: 100%;
}

h1 {

    font-family: eurostile, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: #1716AF;

}

h2 {

    font-family: eurostile, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    color: #1716AF;

}

p {
    font-family: eb-garamond, serif;

    font-weight: 400;

    font-style: normal;
    color: #1716AF;



}



/****************SPLASH*********************************/

#splash {
    width: 90%;
    height: 60vw;
    background-image: url(1x/splash.png);
    background-size: cover;
    background-position: 5% 0%;
    max-width: none;
}

.web {
    position: absolute;
    margin-left: 14vw;
    height: 8vw;
    margin-top: 10VW;
    width: 26vw;
    transform: rotate(149deg)
}


.animation {
    position: absolute;
    margin-left: 39vw;
    height: 10vw;
    margin-top: 16VW;
    width: 55vw;
    transform: rotate(31deg);
}


.ux {
    position: absolute;
    margin-left: 55vw;
    height: 10vw;
    margin-top: 28VW;
    width: 15vw;
    transform: rotate(40deg);

}

.indhold {
    position: absolute;
    margin-left: 25vw;
    margin-top: 22vw;
    height: 18vw;
    width: 24vw;
    transform: rotate(3deg);

}



.portfolio {
    position: absolute;
    width: 7%;
    margin-top: 2rem;
    margin-left: 1rem;

}

/*******************  Burgermenuen ********************************/
.hidden {
    /*    display: none;*/
    /*    transform: scale(0);*/
    transform: translateX(+100%);
    display: none;
}

.header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 10vw;
    padding: 4vw;

}

#menuknap {
    display: inline-block;
}

#menuknap img {
    width: 7%;
    position: absolute;
    right: 2vw;
    top: 4vw;


}



.header img {
    width: 27%;
    /*
    margin-top: 2rem;
    margin-left: 2.9rem;
*/
}



/*postion får det til at ligge sig ovenpå det hele*/
#menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    transition: transform .3s;
    transform-origin: top left;
    height: 50%;
    background-color: floralwhite;
    top: 0%;
    position: fixed;
    left: 0%;
    right: 0%;
    text-align: center;
    z-index: 2;


}

#menu a {
    color: #1716AF;
    font-family: eurostile, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
    margin-top: 2rem;

}


#menu img {
    margin-top: 95px;
    margin-bottom: 60px;
    right: 5vw;
}







@media only screen and (min-width: 1600px) {

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }


}


/*************************startside***********************************/

/****************************OM**************************/








#om {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    margin: 4vw;

}



.jenny {

    width: 20vw;
    height: 20vw;
    border-radius: 50%;
    margin-top: 2vw;
    flex-basis: 300px;
}




.txt {

    width: 15vw;
    flex-basis: 300px;
}


#project {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: vw;


}




.tema {

    width: 30vw;
    height: 20vw;

    border: 2px solid #1716AF;
    margin: 2rem;


}
